.project{
    /* background-color: var(--sec_color); */
    width: 100%;

}
.project_title h2{
    padding: 50px 0 0px 0;
    text-align: center;
}
.project_title p{
    max-width: 50%;
}
.project_grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 60px;
    width: 100%;
}
.see_btn{
    text-align: center;
}
.see_btn button {
    background: var(--pri_color);
    border: none;
    margin: 50px;
    padding: 10px 20px;
    border-radius: 20px; 
    font-weight: 600;   
    text-decoration: underline;
}
@media(max-width:900px){

    .project_grid{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
    }

}
@media(max-width:700px){

    .project_grid{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
    .deatils_div{
        display: flex;
        flex-direction: column;
        align-items:start !important;
        gap: 10px;
    }

}
@media(max-width:500px){
    .project_grid{
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
    }
    .deatils_div{
        display: flex;
        flex-direction: row;
        align-items:center !important;
        gap: 10px;
    }
    .project_box {
        margin: auto;
        width: 90% !important;        
    }
}