.project{
    background-color: var(--sec_color);
    width: 100%;

}
.project_title h2{
    padding: 50px 0 0px 0;
    text-align: center;
}
.project_title p{
    max-width: 50%;
}
.project_grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 60px;
    width: 100%;
}
.see_btn{
    text-align: center;
}
.see_btn button {
    background: var(--pri_color);
    border: none;
    margin: 50px;
    padding: 10px 20px;
    border-radius: 20px; 
    font-weight: 600;   
}