.mission_title{
    width: 100%;
}
.mission{
    margin-top: 50px;

}
.mission_title h1{
    text-align: center;
}
.mission_btn{
    display: none;
}
.mission_title p{
    text-align: center;
    max-width: 700px;
    margin:20px auto;

}
.mission_grid{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.mission_box{
    text-align: center;
    margin-top: 50px;
}
.mission_box h3{
    margin: 20px;
}
.mission_box p{
    /* width: 350px; */
    margin: auto;
    font-size: 15px;
}
.explore_btn button{
    background-color: var(--pri_color);
    /* color: var(--white);/ */
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    text-decoration: underline;

    text-align: center;
}
.explore_btn{
    text-align: center;
    margin: 50px 0;
}
@media (max-width:900px){
    .mission_grid{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (max-width:600px){
    .mission_grid{
        display: grid;
        grid-template-columns: 100%;
        gap: 0px;
    }
    .mission_box p{
        width: auto;
    }
    
    .mission_box h3{
       font-size: 15px;
    }
    .mission_box p{
        font-size: 15px;
    }
    .mission_box span{
        text-align: center;
    }
    .mission_hidden{
        display: none;
    }
    .mission_btn{
        display: block;
    }
}