.banner_2{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    gap: 50px;    
    align-items: center;
    flex-direction: column;
}
.banner_bg{
    width: 100%;
    height: 100vh;
    min-height: 900px;
}
.banner_2_grid{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    /* place-items: center; */
    width: 100%;
}
.banner_2_grid button{
    background: var(--pri_color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: underline;
    font-weight: 600;
    color: var(--white);
    margin-top: 30px;
}
.banner_2_grid p{
    color: var(--white);
}
.banner_2_grid p span{
    font-weight: 700;
}
.banner_2_img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_2_img img{
    width: 100% ;
    height: auto;
    position: relative;
}
@media (max-width:800px){
    .banner_2_grid{
        grid-template-columns: 100%;
    }
    .banner_2_img {
        width: 400px ;
        height: 250px;
        object-fit: cover;
        margin: 50px auto;
    }
    .banner_2{
        justify-content: start;
        gap: 0;
    }
}
@media (max-width:600px){
    
    .banner_2_grid p{
        font-size: 15px;
        padding: 20px ;
    }
    .banner_2_img {
        width: 65% ;
        height: auto;
        margin: 50px auto;
    }
    
    .banner_2 h1{
        font-size: 23px;
    }
    .banner_bg{
        min-height: 1000px;
    }
    
}