.allgallery p{
  font-size: 45px;
  max-width: 80%;
  text-align: center;
  margin:40px auto;

}
.allgallery hr{
  height: 3px;
  background: #000;
  width: 80%;
  margin: auto;
}
.allgallery_grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 90%;
  margin:60px auto ;
}
.allgallery_grid img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.load_more_btn{
  text-align: center;
  margin-bottom: 40px;
}
.load_more_btn button{
  padding: 10px 30px;
  background: var(--pri_color);
  border: none;
  border-radius: 20px;
  text-decoration: underline;
  font-weight: 600;
}
  @media (max-width:1000px){
    .allgallery p{
      font-size: 35px;
      max-width: 90%;
    }
    .allgallery hr{
      width: 90%;
    }
  }
  @media (max-width:800px){
    .allgallery p{
      font-size: 25px;
    }
    .allgallery_grid{
      display: grid;
      grid-template-columns:48% 48%;
      justify-content: space-evenly;
    }
    
  }
  @media (max-width:600px){
    .allgallery p{
      font-size: 23px;
      max-width: 95%;
    }
    .allgallery hr{
      width: 95%;
    }
    .allgallery_grid img{
      width: 100%;
      height: 220px;
    
  }
}