.workgrid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 50px 0 100px 0;

}
.work_box img {
    background-color: var(--pri_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 8px;
}
.work_box{
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    height: 350px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* .work_box h2 {
    color: var(--pri_color);

} */
.work_box p{
    margin: 20px 0;
    height: 150px;

}
.work_box button{
    background: none;
    border: none;
    text-decoration: underline;

}
.work_box button i{
    font-size: 20px;
    padding-left: 10px;
}
@media(max-width:600px){
    .workgrid{
        flex-direction: column;
    }
    .work_box{
        height: auto;
    }
}