.workgrid{
    display: grid;
    grid-template-columns: 31% 31% 31%;   
    justify-content: space-around;
    margin: 50px auto 100px auto; 
}
.work_box img {
    background-color: var(--pri_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 8px;    
}
.work_box{
    position: relative;
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.we_are_title{
    display: flex;
    justify-content: start;
    align-items: center;    
}
.work_box p{
    margin: 20px 0;
}
.work_box button{
    background: none;
    border: none;
    text-decoration: underline;
}
.work_box button i{
    font-size: 20px;
    padding-left: 10px;
}
.we_are_title_btn{
    position: absolute;
    bottom: 15px;
    left: 20px;
}
@media(max-width:800px){
    .workgrid{        
        grid-template-columns: 50% 50%; 
        gap: 20px; 
        }
}
@media(max-width:600px){
    .workgrid{        
    grid-template-columns: 100%; 
    gap: 20px; 
    }
    .work_box{
        height: auto;
        width: 90%;
        margin: auto;
    }
    .work_box p, .work_box h2 {
        height: auto;
        text-align: center;
    }
    .workgrid{
        margin-bottom: 0;
    }
}