.footer{
    background: url(../../assets/images/footer.png);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.57) 10%, rgba(0, 0, 0, 0.47) 100%), url(../../assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.footer_grid{
    display: flex; 
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.links_grid{
    display: flex;
    width: 60%;
}
.logo_box{
    width: 40%;

}
.footer_grid .links,.footer_grid .contact_info {
    width: 50%; 
}


.logo_box h1{
    color: var(--pri_color);
}
.logo_box p{
    margin: 20px 0;
    color: var(--white);
}
.logo_box p span{
    font-weight: 700;
}
.links{
    color: var(--white);
    display: flex;
    justify-content: center;
}
.links li{
list-style: none;
color: var(--white);
padding: 5px 0;
/* text-align: center; */


}
.links a{
    text-decoration: underline;
    color: var(--white);
}
.link_li li{
    text-decoration: underline;
}
.links h3{
    color: var(--white);
    margin-bottom: 20px;
    /* text-decoration: underline; */
}
.links p{
    color: var(--white);
    margin-bottom:20px ;
}
.media_links {
    display: flex;
    justify-content: start;
    gap:   15px;


    align-items: center;

}
.links ul h3 {
    color: var(--pri_color);
}
.media_links i{
    font-size: 25px;
    color: var(--white);

}
.copyright{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;

}
.copyright p{
    color: rgb(196, 192, 192);
    font-size: 14px;
}
.copyright p a{
    font-style: italic;
    color: rgb(140, 181, 217);
}
.social_media{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
    

}
.social_media li {
    list-style: none;
    position: relative;
    z-index: 10;
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pri_color);
    border-radius: 50%;
}
@media(max-width:800px){
    .logo_box h1{
        font-size: 18px;
    }
    .logo_box p{
        font-size: 15px;
    }
}
@media(max-width:600px){
    .copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .copyright p{
        font-size: 12px;
    }
    .footer_grid {
        flex-direction: column;
    }
    .logo_box{
        width: 100%;
    
    }
    .logo_box h1{
        text-align: center;
    }
    .links li{
        font-size: 13px;
        padding: 3px 0;
    }
    .links h3{
        font-size: 15px;
    }
    .links_grid{
        width: 100%;
        justify-content: start;
        margin-top: 40px;
    }
    .links{
        justify-content: start;
    }
    .footer_grid .links {
        width: 40%; 
    }
    .footer_grid .contact_info{
        width: 60%;
    }
    .social_media{
        gap: 10px;
    }
    .social_media li {
        width: 35px;
        height: 35px;
    }
}