.footer{
    background: url(../../assets/images/footer.png);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.57) 10%, rgba(0, 0, 0, 0.47) 100%), url(../../assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.footer_grid{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.logo_box{
    width: 100%;

}
.logo_box h1{
    color: var(--pri_color);
}
.logo_box p{
    margin: 20px 0;
    color: var(--white);
}
.logo_box p span{
    font-weight: 700;
}
.links{
    color: var(--white);
    display: flex;
    justify-content: center;
}
.links li{
list-style: none;
color: var(--white);
padding: 5px 0;
/* text-align: center; */


}
.links a{
    text-decoration: underline;
    color: var(--white);
}
.link_li li{
    text-decoration: underline;
}
.links h3{
    color: var(--white);
    margin-bottom: 20px;
    /* text-decoration: underline; */
}
.links p{
    color: var(--white);
    margin-bottom:20px ;
}
.media_links {
    display: flex;
    justify-content: start;
    gap:   15px;


    align-items: center;

}
.links ul h3 {
    color: var(--pri_color);
}
.media_links i{
    font-size: 25px;
    color: var(--white);

}
.copyright{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;

}
.copyright p{
    color: rgb(196, 192, 192);
    font-size: 14px;
}
.copyright p a{
    font-style: italic;
    color: rgb(140, 181, 217);
}
.social_media{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
    

}
.social_media li {
    list-style: none;
    position: relative;
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pri_color);
    border-radius: 50%;
}