.gallery{
    width: 100%;
    background-color: var(--sec_color);
    padding: 50px 0;
}
.gallery_grid {
    display: flex;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 20px;
    
}

.gallery_grid img {
    width: calc(22% - 20px); /* 3 columns with a gap */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 20px; /* Space between rows */
    display: block;
    object-fit: cover; 
    border-radius: 20px;

}
.gallery button {
    background: var(--pri_color);
    border: none;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px; 
    font-weight: 600;   
    text-decoration: underline;
}