.idea_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
    
}
.idea_photo
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.idea_photo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.idea_cont{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.idea_cont h1{
    position: relative;
    display: inline-block;
}
.idea_cont h1,.idea_cont span{
    text-transform: uppercase;    
}
/* .idea_cont h1::before{
    content: 'PRESIDent';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;

} */
.idea_cont span{
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 18px;
    
}
.short_text{
    width: 90%;
    margin-left: 10%;
}
@media (max-width:600px){
    .idea_grid{
        grid-template-columns: 90%;
        justify-content: center;
    }
    .short_text{
        width: 100%;
        margin: 0;
    }
}