.whatwedo{
    padding: 50px 0;
}
.what_we_do_grid{
    display: grid;
    grid-template-columns: 33% 20% 38%;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    background: rgb(220, 230, 238);
}
.what_we_do_img,.what_we_do_cont{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-direction: column; */
}
.what_we_do_img img{
    width: 100%;
    height: auto;
}
.what_we_do_cont{
    padding: 50px;
}
.what_we_do_title{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}