.donate_banner{
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 600px;
}
.donate_banner_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.donate_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.donate_banners_content{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 50%; */
    margin: auto;
    height: 100%;
}
.donate_banners_content h1, .donate_banners_content h2, .donate_banners_content p{
    color: var(--white);
    width: 50%;
    text-align: center;

}
.donate_banners_content h2{
margin: 30px 0;
}
.donate_banners_content button{
    background-color: var(--pri_color);
    border: none;
    padding: 10px 55px;
    border-radius: 20px;
    margin-top: 25px;
    font-size: 17px;
    text-decoration: underline;

}
@media(max-width:800px){
    .donate_banners_content h1, .donate_banners_content h2, .donate_banners_content p{
        width: 90%;
    }
}
@media(max-width:600px){
    .donate_banners_content h1, .donate_banners_content h2, .donate_banners_content p{
        width: 95%;
    }
    .donate_banners_content h1{
        font-size: 23px;

    }
    .donate_banners_content h2{
        font-size: 20px;
    }
    .donate_banners_content p{
        font-size: 15px;

    }
}