@import url("https://use.typekit.net/jza0yuk.css");
   @import url("https://use.typekit.net/jza0yuk.css");
   
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
  --pri_text:#000;
  --white:#fff;
  --pri_color:#F7E6D3;
  --sec_color:#D3BFAD;
  --sec_dark:#8D6B4D;
}
Link, a, button{
  cursor: pointer;
  color: var(--pri_text);
  text-decoration: none;
}
h1,h2,h3,h4,h5,p{
  color: var(--pri_text);
}
.container{
  /* max-width: 90%; */
  margin: auto;  
}
.container {
  max-width: 97%;
}

@media (min-width: 601px) and (max-width: 1300px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1301px) {
  .container {
    max-width: 1300px;
  }
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 0px;
}
body{
  font-family: "enra-sans-variable", sans-serif;
  font-variation-settings: "wght" 400;
  height: 200vh;
}
:root{
  --pri_text:#000;
  --white:#fff;
  --pri_color:#32d8fc;
  --sec_color:#E9F3FF;
}