.navbar{
    position: fixed;
    top: 0;
    background: var(--white);
    width: 100%;
    z-index: 9999;
    height: 90px;
    padding-top: 20px;


}
.donate{
    background:  var(--pri_color);
    border-radius: 20px;
    padding: 7px 35px !important;
    margin-left: 10px;
    display: inline-block;
}
.navbar_grid{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: 15% 75% 10%;
    justify-content: center;
    align-items: center;
}
.donate_btn{
    text-align: end;
}
.donate_btn li{
    list-style: none;
}
.logo_img h3{
    color: #36d2d7;
}
.navs{
    text-align: center;
}
.navs ul li{
    display: inline;
    padding: 0 12px;
}
.activeMenu{
    color: #36d2d7;
}
@media (max-width:1150px){
    .navs ul li{
        padding: 0 8px;
    }
}
@media (max-width:1050px){
    .navbar{
        display: none;
    }
}